<settings>
    <servers>
        <server>
            <id>MyGet</id>
            <!-- only needed for private feeds or when deploying artifacts to the feed -->
            <username>${env.MY_GET_USER}</username>
            <password>${env.MY_GET_PASS}</password>
        </server>
    </servers>
</settings>
